body{
 background-color: #eff1f2;
}
.row{
    margin-top: 0.5em;
}
.form-group{
    margin-top: 0.5em;
    display: inline-block;
}
.header{
    height: 3em;
}
.form-row.customer{
    margin-top: 1em;
 /**   display: none;**/
}
p.res:hover{
    background-color: lightgray;
}
p.res{
    margin-top: 1em;
}
div.list{
    margin-top: 1em;
}
input.res{
    border: none;
}
/**
** partie recherche des clients par nom
**/
div.customers{
    width:100%;
    border: 2px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.res{
    width: 100%;
}
div.res:hover{
    background-color: lightgray;
}
span.res{
    font-weight: bold;
    width: 100%;
}
span#d0.res{
    color: red;
}
span#d1.res{
    color: blue;
}