.header{
    height: 3em;
}
.customer{
    margin-top: 1em;
}
p.res:hover{
    background-color: lightgray;
}
p.res{
    margin-top: 1em;
}
div.list{
    margin-top: 1em;
}
input.res{
    border: none;
}